.calendar-container {
    padding: 20;
    display: flex;
}

.calendar-input {
    text-align: center;
    font-size: 14px;

    width: 168px;
    height: 31px;
    border-radius: 20px;

    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    background: none;

    &:hover,
    &:focus {
        color: var(--clr-fill-toogle-ground);
        background-color: var(--clr-pag-border);
        border: none;
    }
}

.calendar-input::placeholder {
    text-align: center;
    color: #A8A8A8;
    font-size: 12px;
}

.calendar-text {
    padding: 5;
    margin-right: 37px;
}

.calendar-label {
    position: relative;

    &:hover .calendar-icon-before,
    &:focus .calendar-icon-before {
        fill: var(--clr-fill-toogle-ground);
    }

    &:hover .calendar-icon-after,
    &:focus .calendar-icon-after {
        fill: var(--clr-fill-toogle-ground);
        transform: matrix(-1, 0, 0, -1, 0, 0);
        top: 20%;
    }
}

.calendar-icon-before {
    fill: var(--clr-pag-border);

    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
}

.calendar-icon-after {
    fill: var(--color-primary);
    
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
}