body {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: #F4F4F4;
  color: #111321;
}

.container {
  padding: 0 16px;
  margin: 0 auto;

  @include mobile {
    width: $mobile;
  }

  @include tablet {
    width: $tablet;
  }

  @include desktop {
    width: $desktop;
  }
}

.dark-mode {
  background-color: #2E2E2E;
  color: #F4F4F4;
}
