body {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.container {
  padding: 0 16px;
  margin: 0 auto;

  @include mobile {
    width: $mobile;
  }

  @include tablet {
    width: $tablet;
  }

  @include desktop {
    width: $desktop;
  }
}

.light-mode {
  --clr-border: #111321;
  --color-primary: #111321;
  --color-secondary: #F4F4F4;
  --clr-switch-light: #4b48db;
    --clr-switch-dark: #5f6775;
    --clr-fill-toogle-ground: #ffffff;
    --clr-stroke-toogle-border: #4b48db;
    --clr-fill-toogle-circle: #4b48db;
    --clr-stroke-sun: #4b48db;
    --clr-stroke-moon: #5f6775;
}

.dark-mode {
  --clr-border: #f4f4f4;
  --color-primary: #F4F4F4;
  --color-secondary: #2E2E2E;
  --clr-switch-light: #5f6775;
    --clr-switch-dark: #4b48db;
    --clr-fill-toogle-ground: #4b48db;
    --clr-stroke-toogle-border: #ffffff;
    --clr-fill-toogle-circle: #ffffff;
    --clr-stroke-sun: #5f6775;
    --clr-stroke-moon: #4b48db;
}
