
.header {
  .container {
    display: flex;

    align-items: baseline;
    justify-content: space-between;

    margin: 0 auto;
    padding: 28px 16px;
  }

  .header__wrap-nav {
    display: flex;
    align-items: baseline;

    color: var(--clr-border);
  }

  .header__logo {
    margin-right: 102px;

    font-size: 42px;
    line-height: 1.36;
    color: var(--clr-border);
  }

  .header__nav {
    // margin-right: 147px;
  }

  .nav__list {
    display: flex;
    gap: 69px;
  }

  .nav__item {
  }

  .nav__link {
    font-size: 18px;
    line-height: 1.39;

    color: var(--clr-border);
  }

  .search {
    position: relative;

    padding-top: 6px;
    width: 288px;
    height: 31px;
  }

  .search__label {
    border: 1px solid var(--clr-border);
    border-radius: 20px;
  }

  .search__line {
    padding-left: 48px;
    background-color: inherit;

    font-family: 'Popins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: var(--clr-border);
    opacity: 0.4;
  }

  .search__ico {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);

    fill: var(--clr-border);
  }

  .switch__theme {
    display: flex;
    gap: 12px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
  }

  .switch__left {
    color: var(--clr-switch-light);
  }

  .switch__right {
    color: var(--clr-switch-dark);
  }

  .switch__img {
  }

  .switch__sun {
    stroke: var(--clr-stroke-sun);
  }

  .switch__moon {
    stroke: var(--clr-stroke-moon);
  }

  .switch__toogle {
    position: relative;
    width: 40px;
    height: 20px;
  }

  .switch__toogle--ground {
    position: absolute;
    left: 0;
    top: 0px;

    fill: var(--clr-fill-toogle-ground);
  }

  .switch__toogle--border {
    position: absolute;
    left: 0;
    top: 0;

    stroke: var(--clr-stroke-toogle-border);
  }

  .switch__toogle--circle {
    position: absolute;
    left: 2px;

    .dark-mode & {
      left: auto;
      right: 2px;
    }

    top: 50%;
    transform: translateY(-50%);

    fill: var(--clr-fill-toogle-circle);
  }
}

