@import './header-menu';

@mixin closed {
  scale: 0.5;
  opacity: 0.5;  
}

@mixin open {
  scale: 1;
  opacity: 1;  
}

body.modal-open {
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);


  .container {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    // margin: 0 auto;
    padding: 28px 16px;
  }

  .box-shadow-header {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--color-secondary);
  }

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    padding-top: 24px;
    gap: 30px;

    @include tablet {
      padding-bottom: 40px;
      padding-top: 40px;
    }
  }

  .header__logo {
    z-index: 999;
    font-size: 24px;
    line-height: 1.375;
    color: var(--clr-border);

    @include tablet {
      margin-right: 42px;
      font-size: 32px;
      line-height: 1.375;
    }

    @include desktop {
      margin-right: 102px;
      font-size: 42px;
      line-height: 1.36;
    }
  }

  ////////////////////// NAVIGATION ///////////////////

  .header__nav {
    // margin-right: 147px;
    @include tablet {
      display: flex;
      justify-content: space-between;
      justify-items: center;
      // flex-grow: 2;
  
      }
    z-index: 999;

    @include tablet {
      margin-right: 32px;
      display: flex;
      justify-content: space-between;
      justify-items: center;
      gap: 30px;
      flex-grow: 1;
    }

    @include desktop {
      margin-right: 147px;
    }

  .nav__list {

    display: none;

    @include tablet {
    display: flex;
    justify-content: space-around;
      width: 100%;
    }

  }
    .nav__list {
      display: none;

      @include tablet {
      display: flex;
      justify-content: space-around;
      width: 100%;
      }
    }

    .nav__item {
    }

  }

  .nav__link {
    color: var(--clr-border);
    position: relative;
    font-size: 16px;
    line-height: 22px;

    @include desktop {
      font-size: 18px;
      line-height: 25px;
    }
  }

  .nav__link--current {
    &:after{
      content: '';
  
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
  
      height: 1px;
      border: 1px solid var(--clr-switch-light);
      border-radius: 2px;
    }
  }

////////////////////// NAVIGATION-END ///////////////////

//////////////////// SEARCHBAR /////////////////////

  .search {
    position: relative;
    height: 31px;


    @include tablet {
      margin-right: 24px;
    }

    @include desktop {
      margin-right: 147px;
    }

  }

  .search__mobile {
    display: flex;
    z-index: 999;

    justify-content: flex-end;
    flex-grow: 1;
    margin: 0 14px;

    @include tablet {
      display: none;
    }
  }

  .search__big {
    display: none;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
      justify-content: center;

      // display: block;
      
    }
  }

  .search__label {
    height: 31px;
    border-color: rgba($color: var(--clr-border), $alpha: 1);
    border: 1px solid;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 10px;

    @include mobile {
      width: 20%;
      transition: width 0.5s ease-in-out, border-color 0.5s ease-in-out;
      border-color: rgba($color: black, $alpha: 0);
      flex-direction: row;

      &:focus-within {
        width: 80%;     
        border-color: rgba($color: var(--clr-border), $alpha: 1);
      
        & .search__mobile{
          justify-content: center;
        }
      
      
        .search__line{
          opacity: 1;
          z-index: initial;
          cursor: initial;
          margin-left: 40px;
        }
      
        .search__ico{
          margin-right: auto;
        }
      }
    }

    .search__line {
      font-family: 'Popins', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      color: var(--clr-border);
      font-weight: 400;
      font-size: 12px;
      line-height: inherit;
      letter-spacing: 0.02em;
      cursor: pointer;
      background: transparent;

      @include tablet {
        padding-left: 60px;
        width: 100%;
        font-size: 14px;
        line-height: 1.71;
      }

      @include mobile {
        flex-grow: 1;
        outline: 0;
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0;
      }

      &::placeholder{
        @include tablet {
          transform: translatex(-60px);
          text-align: left;
          padding: 10px;
          opacity: 0.4;
        }

      }
    }

    .search__ico {
      cursor: pointer;
      color: var(--clr-body);
      margin: 0;
    }
  }

//////////////////// SEARCHBAR-END /////////////////////

///////////////// MENU ////////////////

  .menu-button {
    z-index: 1000;
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;

    & svg{
      padding: 4px;
    }

    & svg .icon-cross,
    & svg .icon-menu{
      transition: transform 0.5s ease-in-out, scale 0.5s ease-in-out, opacity 0.5s ease-in-out;
      transform-origin: center;
    }

    @include tablet {
      display: none;
    }
  }

  .menu-button .icon-cross {
    transform: translateY(-100%) scale(.5);
    // transform: translateY(-100%) ;

    opacity: 0.5;
  }

  .menu-button.is-open .icon-cross {
    transform: translateY(0) scale(1);
    // transform: translateY(0) ;

    opacity: 1;
  }

  .menu-button.is-open .icon-menu {
    transform: translateY(100%) scale(.5);
    // transform: translateY(100%) ;

    opacity: 0.5;
  }

  .menu-button .icon-menu {
    transform: translateY(0) scale(1);
    // transform: translateY(0) ;

    opacity: 1;
  }
}

////////////////// MENU-CONTAINER //////////////////

.menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100vh;
  width: 100vw;
  max-width: 1600px;
  background-color: var(--color-secondary);
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;

  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.5s linear,
  opacity 0.5s linear;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.is-open {
      opacity: 1;
      transform: translateY(0);

      .switch__theme {
      display: flex;
      // align-content: flex-end;
      margin: 16px;
      }

      @include tablet {
      display: none;
      }
  }

  .site-nav {
      margin-top: 50px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;

      font-family: 'Manrope';
      font-style: normal;
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.375;
  }

  .site-nav__link {
      padding-left: 16px;

      display: flex;
      align-items: center;
      transition: color 0.2s linear, background-color 0.2s linear;
      &:hover{
      background-color: var(--clr-switch-light);
      color: var(--color-secondary)
      }

      & svg {
      padding: 5px;
      background-color: var(--clr-switch-light);
      border:  1px solid var(--color-secondary);
      border-radius: 50%;
      margin-right: 14px;
      }

      &::after{
      width: 10px;
      background-color: var(--color-secondary);
      display:inline-block;
      // content: url(../images/arrow-right.svg);
      content: '';      
      margin-left: auto;
      margin-right: 25px;
      }
  }

  .site-nav__link--current {
    &:after{
      content: '';
  
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
  
      height: 1px;
      border: 1px solid var(--clr-switch-light);
      border-radius: 2px;
    }
  }

      .switch__theme{
      margin: 16px;
      }
}

////////////////// MENU-CONTAINER-END //////////////////

///////////////// MENU-END ////////////////


///////////////// SWITCH ////////////////

.switch__theme {
  display: flex;
  gap: 8px;
  z-index: 999;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;

  @include mobile {
    display: none;
    }
}

.switch__left {
  color: var(--clr-switch-light);
}

.switch__right {
  color: var(--clr-switch-dark);
}

.switch__img {
}

.switch__sun {
  stroke: var(--clr-stroke-sun);
}

.switch__moon {
  stroke: var(--clr-stroke-moon);
}

.switch__toogle {
  z-index: 1000;
  position: relative;
  width: 40px;
  height: 20px;
}

.switch__toogle--ground {
  position: absolute;
  left: 0;
  top: 0px;
  fill: var(--clr-fill-toogle-ground);
}

.switch__toogle--border {
  position: absolute;
  left: 0;
  top: 0;
  stroke: var(--clr-stroke-toogle-border);
}

.switch__toogle--circle {
  position: absolute;
  left: 2px;

  .dark-mode & {
    left: auto;
    right: 2px;
  }

  top: 50%;
  transform: translateY(-50%);
  fill: var(--clr-fill-toogle-circle);
}

.switch__left.theme-light, .switch__right.theme-dark {
  display: none;
}
.switch__sun,  .switch__moon {
  display: inline;
}

@include desktop {
  .switch__left.theme-light, .switch__right.theme-dark {
    display: inline;
  }
  .switch__sun,  .switch__moon {
    display: none;
  }
}

///////////////// SWITCH-END ////////////////