body.modal-open {
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 99;
  margin-bottom: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 24px 16px 22px;
    @include tablet {
      align-items: baseline;
      padding: 32px 16px 28px;
    }
    @include tablet {
      padding: 28px 16px;
    }
  }

  .box-shadow-header {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--color-secondary);
  }

  .mobile-header-container {
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    // z-index: 999;
    font-size: 24px;
    line-height: 1.38;
    color: var(--clr-border);
    margin-right: 14px;
    @include tablet {
      margin-right: 44px;
      font-size: 32px;
      line-height: 1.38;
    }

    @include desktop {
      margin-right: 102px;
      font-size: 42px;
      line-height: 1.36;
    }
  }

  .header__nav {
    // margin-right: 147px;
    display: none;
    z-index: 999;
    @include tablet {
      display: flex;
      margin-right: 30px;
    }
    @include desktop {
      margin-right: 140px;
    }
  }

  .nav__list {
    display: flex;
    @include tablet {
        gap: 44px;
      }
    @include desktop {
      gap: 67px;
    }
  }

  .nav__item {
  }

  .nav__link {
    color: var(--clr-border);
    @include tablet { 
      font-size: 16px;
      line-height: 1.38;
    }
    @include desktop {
      font-size: 18px;
      line-height: 1.39;
    }
  }

  .container__search {
    margin-bottom: 50px;
    @include tablet {
      margin-right: 22px;
      margin-bottom: 0;
    }
    @include desktop {
      margin-right: 143px;
    }
  }

  .search {
    display: flex;
    z-index: 999;
    position: relative;
    height: 31px;
    // padding-top: 6px;
    width: 173px;
    @include tablet {  
      width: 213px;
    }
    @include desktop {
      // padding-top: 6px;
      width: 288px;
    }
  }

  .container-logo-search {
    display: flex;
    // z-index: 999;
  }

  .search__label {
    display: flex;
    align-items: center;
    // flex-direction: row-reverse;
    width: 173px;
    @include tablet {
      border: 1px solid var(--clr-border);
      border-radius: 20px;
      width: 213px;
    }
    @include desktop {
      width: 288px;
    }
  }

    .search__label:hover,
    .search__label:focus {
      display: flex;
      // flex-direction: row-reverse;
      border: 1px solid var(--clr-border);
      border-radius: 20px;
    }

  .search__line {
    display: none;
    padding-left: 48px;
    width: 100%;
    // border-right: 1px solid #111321;
    background-color: inherit;
    font-family: 'Popins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--clr-border);
    opacity: 0.4;
    border-right: 1px solid #111321;
    @include tablet {
      display: flex;
      // align-content: center;
      width: 100px;
      height: 17px;
      padding-left: 48px;
      // border-radius: 10px;
      // opacity: 0.4;
      // border-right: 1px solid #111321;
      background-color: inherit;
      font-family: 'Popins', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      color: var(--clr-border);
      opacity: 0.4;
    }
  }

  .search__line:hover,
  .search__line:focus{
    display: block;
    height: 17px;
    width: 100px;
  }

    .search__ico:hover + .search__line,
    .search__ico:focus + .search__line{
      // z-index: 99;
      width: 100px;
      display: flex;
      padding-left: 48px;
      // opacity: 0.4;
      // border-right: 1px solid #111321;
      background-color: inherit;
      font-family: 'Popins', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      color: var(--clr-border);
      opacity: 0.4;   
    }

  .search__ico {
    // z-index: 999;
    position: absolute;
    left: 145px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--clr-border);
    @include tablet {
      left: 14px;
      top: 50%;
      transform: translateY(-50%);
      fill: var(--clr-border);
    }
  }

    .search__ico:hover,
    .search__ico:focus{
      left: 14px;
    }

  .switch__theme {
    display: flex;
    margin-bottom: 100px;
    width: 100%;
    max-width: 480px;
    padding: 0 14px;
    // flex-direction: column;
    // justify-content: end;
    // align-items: end;
    gap: 8px;
    z-index: 999;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    @include tablet {
      margin-bottom: 0;
      padding: 0;
    }
    @include desktop {
      gap: 12px;
    }
  }

  .theme-icon {
    @include desktop {
      display: none;
    }
  }

  .switch__left {
    color: var(--clr-switch-light);
  }

  .switch__right {
    color: var(--clr-switch-dark);
  }

  .theme-name {
    display: none;
    @include desktop {
      display: flex;
    }
  }

  .switch__img {
  }

  .switch__sun {
    stroke: var(--clr-stroke-sun);
  }

  .switch__moon {
    stroke: var(--clr-stroke-moon);
  }

  .switch__toogle {
    z-index: 1000;
    position: relative;
    width: 40px;
    height: 20px;
  }

  .switch__toogle--ground {
    position: absolute;
    left: 0;
    top: 0px;
    fill: var(--clr-fill-toogle-ground);
  }

  .switch__toogle--border {
    position: absolute;
    left: 0;
    top: 0;
    stroke: var(--clr-stroke-toogle-border);
  }

  .switch__toogle--circle {
    position: absolute;
    left: 2px;

    .dark-mode & {
      left: auto;
      right: 2px;
    }
    
    top: 50%;
    transform: translateY(-50%);
    fill: var(--clr-fill-toogle-circle);
  }

  .menu-button {
    z-index: 1000;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @include tablet {
      display: none;
    }
  }

  .menu-button .icon-cross {
    display: none;
  }

  .menu-button.is-open .icon-cross {
    display: block;
  }

  .menu-button.is-open .icon-menu {
    display: none;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: center;
    position: absolute;
    // padding: 0 16px;
    top: 100%;
    left: 0;
    height: 100vh;
    width: 100vw;
    max-width: 1600px;
    background-color: var(--color-secondary);
    background-position: center;
    background-repeat: repeat-y;
    background-size: contain;

    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.5s linear,
    opacity 0.5s linear;

    &.is-open {
      opacity: 1;
      transform: translateY(0);

      @include tablet {
        display: none;
      }
    }
  }

  .site-nav__mobile {
    z-index: 999;
    display: flex;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    max-width: 480px;
    flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    align-content: center;
  }

    .container__item {
      display: flex;
      align-items: center;
      height: 44px;
      // margin: 0 auto;
      justify-content: space-between;
    }

    .container__item:hover {
      background-color: #4440F6;
    }

    .icon__link {
      display: flex;
      // justify-content: center;
      align-items: center;
    }
}