.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-error {
  display: block;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.01em;
  width: 284px;

  @include tablet {
    font-size: 40px;
    line-height: 55px;
    width: 568px;
  }
}
