:root {
  --clr-pag: #111321;
  --clr-pag-border: #4440f6;
  --clr-pag-bg: #f4f4f4;
  --clr-pag-more: #111321;
  --clr-pag-active: #4440f7;
}

.dark-mode {
  --clr-pag-more: #f4f4f4;
}

.pagination {
  display: flex;
  justify-content: space-around;

  .pagination__list {
    display: flex;
    gap: 8px;
  }

  .pagination__item {
    padding: 4px 12px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;

    color: var(--clr-pag);
    background-color: var(--clr-pag-bg);

    border: 1px solid var(--clr-pag-border);
    border-radius: 2px;

    cursor: pointer;

    transition: scale 250ms linear;

    &:hover {
      scale: 1.05;
    }

    &--active {
      color: var(--clr-pag-bg);
      background-color: var(--clr-pag-active);
    }

    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &--disabled:hover,
    &.pagination__next--more:hover,
    &.pagination__prew--more:hover {
      scale: 1;
    }

    &.pagination__next--more,
    &.pagination__prew--more {
      cursor: auto;
    }
  }

  .pagination__page {
  }

  .pagination__prew,
  .pagination__next {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .pagination__prew {
    padding-left: 16px;
    padding-right: 10px;
  }

  .pagination__prew--more,
  .pagination__next--more {
    border: none;
    padding: 6px 0;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;

    color: var(--clr-pag-more);
    background-color: inherit;
  }

  .pagination__next {
    padding-left: 10px;
    padding-right: 16px;
  }

  .pagination__ico {
    display: block;

    fill: var(--clr-pag);

    &--prew {
      transform: rotate(90deg);
    }

    &--next {
      transform: rotate(-90deg);
    }
  }

  .pagination--none {
    display: none;
  }
}
