:root {
  --desktop: 1280px;
  --tablet: 768px;
  --mobile: 480px;
}

$desktop: 1280px;
$tablet: 768px;
$mobile: 480px;

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: $mobile) {
    @content;
  }
}
