<div class="calendar-container">
    <p class="calendar-text">Search date news</p>
    <label class="calendar-label">
    <svg class="calendar-icon-before" width="20" height="20">
        <use href="./images/calendar-icons.svg#icon-calendar"></use>
    </svg>

    <input
        type="text"
        class="calendar-input"
        placeholder="  Виберіть дату..."
    />

    <svg class="calendar-icon-after" width="14" height="20">
        <use href="./images/calendar-icons.svg#icon-arrow-down"></use>
    </svg>
    </label>
</div>
