  <!--Фільтри новин-->
  <section class="projects-news">
    <div class="container">
      <h1 class="visually-hidden">Фільтри новин</h1>
      <div class="category js-category-container">
        <ul class="category__list js-category">
          <!-- тут рендериться список категорій -->
        </ul>
        <div class="others__container">
          <div class="js-others-wrapper others__wrapper ">
            <ul class="js-category-others others__list">
              <!-- тут рендериться випадаючий список категорій others -->
            </ul>
          </div>
          <button class="js-others-btn others__btn">
            <span class="js-text-btn others__text-btn">Others</span>
            <svg class="others__icon-open" width="14" height="14">
              <use href="/src/images/filters.svg#others_icon-open"></use>
            </svg>
            <svg class="others__icon-close" width="14" height="14">
              <use href="/src/images/filters.svg#others_icon-close"></use>
            </svg>
          </button>
        </div>
      </div>
      <include src="./partials/list_cards.html"></include>
      <include src="./partials/pagination.html"></include>
    </div>
  </section>