<div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item pagination__prew">
      <svg class="pagination__ico--prew" width="16" height="16">
        <use href="./images/pag-ico.svg#icon"></use>
      </svg>
      <span>Prew</span>
    </li>
    <li class="pagination__item pagination__first">1</li>
    <li class="pagination__item pagination__prev--more">...</li>
    <li class="pagination__item pagination__2 pagination__item--active">4</li>
    <li class="pagination__item pagination__3">5</li>
    <li class="pagination__item pagination__4">6</li>
    <li class="pagination__item pagination__next--more">...</li>
    <li class="pagination__item pagination__last">20</li>
    <li class="pagination__item pagination__next">
      <span>Next</span>
      <svg class="pagination__ico--next" width="16" height="16">
        <use href="./images/pag-ico.svg#icon"></use>
      </svg>
    </li>
  </ul>
</div>
