<div id="weather" class="weather">
	<div id="weather-daily" class="weather-daily">
		<div class="weather__header">
			<span class="temperature"><span id="temp">UN</span>&deg</span>
				<div class="weather__city">
					<span class="weather-conditions" id="weather-conditions">UN</span>
					<button type="button" class="weather__button-city" id="city-name">UN</button>
				</div>
		</div>
		<div class="weather__footer">
			<span class="weather__day" id="current-weekday">UN</span>
				<span class="weather__date"><span id="current-date">UN UN</span><span id="current-year" class="current-year">UN</span></span>
		</div>
	</div>
	<div id="wether-week" class="invisible">
		<button type="button" class="weather__button-city" id="city-name-week">UN</button>
		<div class="wether-week__date">Sun March 3 2023</div>
			<div class="wether-week__date">5&deg- 10&deg Sunny</div>
		<div class="wether-week__date">Sun March 3 2023</div>
			<div class="wether-week__date">5&deg- 10&deg Sunny</div>
		<div class="wether-week__date">Sun March 3 2023</div>
			<div class="wether-week__date">5&deg- 10&deg Sunny</div>
		<div class="wether-week__date">Sun March 3 2023</div>
			<div class="wether-week__date">5&deg- 10&deg Sunny</div>
		<div class="wether-week__date">Sun March 3 2023</div>
			<div class="wether-week__date">5&deg- 10&deg Sunny</div>
		<div class="wether-week__date">Sun March 3 2023</div>
			<div class="wether-week__date">5&deg- 10&deg Sunny</div>
		<div class="wether-week__date">Sun March 3 2023</div>
			<div class="wether-week__date">5&deg- 10&deg Sunny</div>
	</div>
	<button type="button" id="switch" class="weather__button-choice-display" data-show="false">Weather for week</button>
</div>