<div id="weather" class="weather">
	<div id="weather-daily" class="weather-daily">
		<div class="weather__header">
			<span class="temperature"><span id="temp">UN</span>&deg</span>
				<div class="weather__city">
					<span class="weather-conditions" id="weather-conditions">UN</span>
					<span class="weather-city" id="city-name">UN</span>
				</div>
		</div>
		<img class="weather-icon" id="weather-icon" src="#">
		<div class="weather__footer">
			<span class="weather__day" id="current-weekday">UN</span>
				<span class="weather__date"><span id="current-date">UN UN</span><span id="current-year" class="current-year">UN</span></span>
		</div>
	</div>
	<div id="weather-week" class="invisible">
		<span class="weather-city" id="city-name-week">UN</span>
	</div>
	<button type="button" id="switch" class="weather__button-choice-display" data-show="false">Weather for week</button>
</div>